@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color: #e2725b;
  --subtle-color: lightslategrey;
  --secent-color: #f9f6f2;
  /* --secent-color: #181715; */
  --field-color: #fff;
  --highlights-color: #fdece8;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
button {
  background-color: var(--main-color);
  border: none;
  border-radius: 6px;
  color: var(--field-color);
  padding: 1rem;
  height: 80px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  filter: brightness(90%);
}
.container {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  grid-template-columns: minmax(250px, 20%) auto;
  height: 100vh;
  overflow: hidden;
  background-color: var(--secent-color);
}
svg {
  width: 2rem;
}
/* History Seite*/
.history-area {
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
  background-color: var(--secent-color);
}
.history-container {
  margin: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#new-note-btn {
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.saved-note {
  padding: 1rem;
  box-shadow: 0 0 10px var(--highlights-color);
  border-radius: 6px;
  height: 7rem;
  background-color: var(--field-color);
  cursor: pointer;
  border-color: var(--main-color);
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.saved-note:hover {
  background-color: var(--highlights-color);
  box-shadow: 0 0 5px 3px color-mix(in srgb, var(--main-color), white 50%);
}
.selected-note {
  background-color: var(--highlights-color);
  box-shadow: 0 0 5px 3px color-mix(in srgb, var(--main-color), white 50%);
}
.saved-note:not(.selected-note) {
  cursor: default;
}
.date-history {
  width: 100%;
  text-align: right;
  font-style: oblique;
  color: var(--subtle-color);
  font-size: 0.8rem;
}
.title-history {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.text-history {
  color: var(--subtle-color);
  padding-bottom: 1rem;
  display: block;
  flex-grow: 1;
}
.title-history,
.text-history {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Input Seite*/
.main-area {
  display: flex;
  flex-direction: column;
}
.header {
  margin: 1rem 1rem 0 1rem;
  display: flex;
}
#title {
  padding-left: 2rem;
  width: 100%;
  height: 100px;
  font-size: 3.5rem;
  font-weight: 600;
  background-color: var(--field-color);
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  border-radius: 8px;
  transition: box-shadow 0.1s ease;
  margin-bottom: 1rem;
}
.search {
  height: 40px;
  font-size: 1rem;
  background-color: var(--field-color);
  border: none;
  outline: none;
  border-radius: 8px;
  padding-left: 1rem;
}
.search:focus {
  border: 0.1rem solid #e2725b;
}
.border-light {
  box-shadow: 0 0 6px 4px var(--main-color) !important;
}
#text {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  background-color: var(--field-color);
  border-radius: 8px;
  /* flex-grow: 1; */
  resize: none;
  border: none;
  outline: none;
  margin: 1rem;
  transition: box-shadow 0.1s ease;
}
#title,
#text::placeholder {
  #title {
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 3.5rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
  }
  #text {
    color: var(--subtle-color);
  }
}
.btn-container {
  display: flex;
  gap: 0.4rem;
  margin-left: 0.4rem;

  button {
    width: 90px;
    height: 100px;
  }
}
div.editor-toolbar button {
  color: black;
}
.EasyMDEContainer {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  margin: 1rem;
  border-radius: 8px !important;
}

.EasyMDEContainer textarea {
  display: none !important;
}

.editor-toolbar {
  border: none !important;
  background-color: var(--field-color);
  border-radius: 8px 8px 0 0 !important;
  flex-grow: 0 !important;
}

.EasyMDEContainer .CodeMirror {
  border: none !important;
  border-radius: 0 0 8px 8px !important;
  background-color: var(--field-color) !important;
  font-size: 1.5rem;
  flex-grow: 1 !important;
  height: auto !important;
}
.editor-preview {
  background-color: var(--field-color) !important;
}

.EasyMDEContainer .CodeMirror-scroll {
  min-height: 300px;
}

.EasyMDEContainer .CodeMirror textarea {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
}
.EasyMDEContainer {
  font-size: 1.5rem !important;
}
@media only screen and (max-width: 1200px) {
  .header {
    flex-wrap: wrap-reverse;

    #title {
      height: 160px;
    }
  }
}
